<div id="articles">
  <div class="row">
    <div class="col s12">
      <h2><span class="flow-text">Welcome to Mora Sports and News!</span></h2>
    </div>
  </div><!-- End Row -->

  <div class="container-fluid" id="insert-div">

  </div>
</div><!-- End Articles div -->


