<div id="articles">
  <div class="row">
    <div class="col s12">
      <h2><span class="flow-text">Welcome to Mora Sports and News!</span></h2>
    </div>
  </div><!-- End Row -->
  <div class="row">
    <div class="divider"></div>
    <div class="section">
      <h5>Article 1</h5>
      <div class="content">
        <p>Content goes here</p>
      </div>
    </div>
  </div><!-- End first content -->
  <div class="row">
    <div class="divider"></div>
    <div class="section">
      <h5>Article 2</h5>
      <div class="content">
        <p>Content goes here</p>
      </div>
    </div>
  </div><!-- End second content -->
</div><!-- End Articles div -->
