.nav-wrapper {
 background-color: #505050;
}

.button-collapse {
  padding-left: 15px;
}

.side-nav {
  background-color: #505050;
}

.side-nav li a {
  color: white;
}

.side-nav li {
height: 50px;
text-align: center;
}

.material-icons {
  color: #000;
}


