<div class="row" id="banner">
  <div class="col s12 m8">
    <img class="responsive-img z-depth-4" src="public/images/home.jpg">
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <div class="section">
      <img class="responsive-img" src="public/images/basketball.png">
      <p>Stay up to date with the latest news around the NBA during the Playoffs. Be the first to know about last nights crazy moments, or on the status of a players injury, etc. Here you will find  the best news feed on and off the court! Stay Tuned.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="section">
      <img class="responsive-img" src="public/images/football.png">
      <p>Follow the NFL during the offseason to read about impending trades, free-agency signings. Or if you just want to check out what your favorite NFL players are caught doing during the summer. Be on the lookout for anything that may shock you. Also, the the Draft is just around the corner, will your team get lucky this year?</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="section">
      <img class="responsive-img" src="public/images/baseball.png">
      <p>If you're an MLB fan, you will find lots of news about what the best highlight was, or the funniest bloopers were from last night. Don't miss out, baseball is here! Grap your popcorn and make sure you are up to date on whate going on around the league.</p>
    </div>
  </div>
</div>


