<div class="row">
  <div class="col s12 l12">
    <div class="title">
      <h3>NFL News</h3>
    </div>
  </div>
</div>

<div class="row" ng-controller="nflNews">
  <div class="col s12 l8">
    <div class="card z-depth-2" ng-repeat="article in articles | orderBy: 'publishInfo': true">
      <div class="card-image">
        <img class="responsive-img" src="{{article.image}}">
      </div>
      <div class="card-content">
        <p>{{article.title}}</p>
      </div>
      <div class="card-action">
        <span><a target="_blank" href="{{article.link}}">Read More</a><p class="publish right">{{article.publishInfo}}</p></span>
      </div>
    </div>
  </div>
</div>
